.input-group {
    margin: 20px 0;
}

svg {
    height: 150px;
}

.googleMapDiv {
    height: 200px;
    width: 250px;
}

.row {
    border-bottom: solid 2px #ADAAAA;
    padding-top: 15px;
    padding-bottom: 15px;
}