@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* General styles */
body {
  font-family: 'Playfair Display', serif;
  text-align: center;
  /* set height to 100vh - because clicking on the body closes the
  dropup menu, this makes it more consistent when there are not enough
  cities to make the body the full page height. */
  height: 100vh;
}

.input-group {
  margin: 20px 0;
  width: 100%;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* google-map.js */
.google-map-div {
  text-align: center;
  height: 200px;
  width: 100%;
}

/* weather-list.js */
.weather-text {
  font-family: 'Playfair Display', serif;
}

.weather-temp {
  padding-left: 20px;
}

.row--with-border {
  border-bottom: solid 2px #adaaaa;
}

.nocities {
  padding: 20px;
  font-size: 200%;
}

.city-list__container {
  width: 100%;
  text-align: center;
}

.modal--delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px #000;
  padding: 30px;
  background: #fff;
  text-align: center;
}

/* footer.js */
.row--footer {
  text-align: right;
}

.icon-settings {
  padding: 25px;
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.2s ease-in;
  border: none;
  background: none;
}

.icon-settings:hover {
  opacity: 1;
}

.icon-settings:hover,
.icon-settings:active,
.icon-settings:focus {
  outline: none;
}

/* https://www.w3schools.com/howto/howto_css_dropup.asp */
.settings-menu {
  position: relative;
}

.settings-menu__content {
  position: absolute;
  visibility: hidden;
  bottom: 75px;
  right: 0px;
  padding: 25px;
  background: #fff;
  border: solid 1px #ddd;
  transition: all 0.2s;
}
.settings-menu__content:hover,
.icon-settings:hover ~ .settings-menu__content {
  display: block;
  visibility: visible;
}

.settings-menu__content--display {
  background: #fff;
  border: solid 1px #ddd;
}

input[type='checkbox'] {
  margin-right: 5px;
}
