@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* General styles */
body {
  font-family: 'Playfair Display', serif;
  text-align: center;
  /* set height to 100vh - because clicking on the body closes the
  dropup menu, this makes it more consistent when there are not enough
  cities to make the body the full page height. */
  height: 100vh;
}

.input-group {
  margin: 20px 0;
  width: 100%;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Todo: these aren't applied yet */
.icon-settings:hover,
.icon-settings:active,
.icon-settings:focus {
  outline: none;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] ~ div {
  text-decoration: line-through;
}

input[type='checkbox']:checked ~ div {
  text-decoration: none;
}
